<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{ site.title or site.verbose_name }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ site.build_static_url('favicon2.ico') }}" />
    <style>
        .container {
            text-align: center;
        }
        table {
            margin-left: auto;
            margin-right: auto;
        }
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ page_title }}</h1>
        <table><tbody>{{ page_content }}</tbody></table>
    </div>
</body>
</html>